.center_items_vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center_items_horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fill-parent-div {
    width: 100%;
    height: 100%;
}

.sm-padding {
    padding: 1rem;
}

.hide {
    display: none;
}

.invisible {
    opacity: 0;
}
// Arrow class
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

    &__right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    &__left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }

    &__up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    &__down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}


.switch {
    display: grid;
    place-items: center;
    position: relative;
    width: 55px;
    height: 25px;

    & .form-check {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    input {
        opacity: 0;
        width: 100%;
        height: 100%;
    }

    & .form-check:has(input:checked) + &__slider {
        background-color: #2196F3;
    }

    & .form-check:has(input:focus) + &__slider {
        box-shadow: 0 0 1px #2196F3;
    }

    & .form-check:has(input:checked) + &__slider::before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    &__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;

        &::before {
            position: absolute;
            content: "";
            height: 19px;
            width: 19px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        &.switch__round {
            border-radius: 34px;
        }

        &.switch__round::before {
            border-radius: 50%;
        }
    }
}


.btn {
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 4px;

    &__red {
        @extend .btn;
        background-color: #c1485a; 
        color: white;
        &:hover {
            animation: red-color-change 1s linear forwards;
        }
        @keyframes red-color-change {
            0% {
                background-color: #c1485a; /* start with the original background color */
            }
            100% {
                background-color: #bb0621; /* change to a darker blue halfway through the animation */
            }
        }
    }
    
    &__blue {
        @extend .btn;
        background-color: #66ccff; 
        color: white;
        &:hover {
            animation: blue-color-change 1s linear forwards;
        }
        @keyframes blue-color-change {
            0% {
                background-color: #66ccff; /* start with the original background color */
            }
            100% {
                background-color: #0066ff; /* change to a darker blue halfway through the animation */
            }
        }
    }

    &__green {
        @extend .btn;
        background-color: #42ca81; 
        color: white;
        &:hover {
            animation: green-color-change 1s linear forwards;
        }
        @keyframes green-color-change {
            0% {
                background-color: #42ca81; /* start with the original background color */
            }
            100% {
                background-color: #3b875e; /* change to a darker blue halfway through the animation */
            }
        }
    }

    &__grey {
        @extend .btn;
        background-color: #b2bab6; 
        color: white;
        &:hover {
            animation: grey-color-change 1s linear forwards;
        }
        @keyframes grey-color-change {
            0% {
                background-color: #b2bab6; /* start with the original background color */
            }
            100% {
                background-color: #8a8c8b; /* change to a darker blue halfway through the animation */
            }
        }
    }
    
}