/*
0 - 600px: phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + : Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px

ORDER: BASE + typography > general layout + grid > page layout > components
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  min-height: 100vh; }

.container-page {
  height: 100vh;
  background-color: #f3f3f3; }
  .container-page > div, .container-page #_pages_content {
    width: 100%;
    height: 100%;
    box-sizing: border-box; }

.center_items_vertical {
  display: flex;
  flex-direction: column;
  align-items: center; }

.fill-parent-div {
  width: 100%;
  height: 100%; }

.sm-padding {
  padding: 1rem; }

.hide {
  display: none; }

.invisible {
  opacity: 0; }

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px; }
  .arrow__right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  .arrow__left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg); }
  .arrow__up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg); }
  .arrow__down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }

.switch {
  display: grid;
  place-items: center;
  position: relative;
  width: 55px;
  height: 25px; }
  .switch .form-check {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%; }
  .switch input {
    opacity: 0;
    width: 100%;
    height: 100%; }
  .switch .form-check:has(input:checked) + .switch__slider {
    background-color: #2196F3; }
  .switch .form-check:has(input:focus) + .switch__slider {
    box-shadow: 0 0 1px #2196F3; }
  .switch .form-check:has(input:checked) + .switch__slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }
  .switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s; }
    .switch__slider::before {
      position: absolute;
      content: "";
      height: 19px;
      width: 19px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s; }
    .switch__slider.switch__round {
      border-radius: 34px; }
    .switch__slider.switch__round::before {
      border-radius: 50%; }

.btn, .btn__red, .btn__blue, .btn__green, .btn__grey {
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 4px; }
  .btn__red {
    background-color: #c1485a;
    color: white; }
    .btn__red:hover {
      animation: red-color-change 1s linear forwards; }

@keyframes red-color-change {
  0% {
    background-color: #c1485a;
    /* start with the original background color */ }
  100% {
    background-color: #bb0621;
    /* change to a darker blue halfway through the animation */ } }
  .btn__blue {
    background-color: #66ccff;
    color: white; }
    .btn__blue:hover {
      animation: blue-color-change 1s linear forwards; }

@keyframes blue-color-change {
  0% {
    background-color: #66ccff;
    /* start with the original background color */ }
  100% {
    background-color: #0066ff;
    /* change to a darker blue halfway through the animation */ } }
  .btn__green {
    background-color: #42ca81;
    color: white; }
    .btn__green:hover {
      animation: green-color-change 1s linear forwards; }

@keyframes green-color-change {
  0% {
    background-color: #42ca81;
    /* start with the original background color */ }
  100% {
    background-color: #3b875e;
    /* change to a darker blue halfway through the animation */ } }
  .btn__grey {
    background-color: #b2bab6;
    color: white; }
    .btn__grey:hover {
      animation: grey-color-change 1s linear forwards; }

@keyframes grey-color-change {
  0% {
    background-color: #b2bab6;
    /* start with the original background color */ }
  100% {
    background-color: #8a8c8b;
    /* change to a darker blue halfway through the animation */ } }

.dashboard {
  height: 100%;
  width: 100%;
  font-size: 1.8rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: minmax(0, 0.3fr) minmax(0, 1fr);
  grid-template-rows: min-content minmax(0, 1fr);
  grid-gap: 2rem; }
  .dashboard__fig {
    grid-row: 2/3;
    grid-column: 2/3; }
  .dashboard__args {
    grid-row: 1/-1;
    grid-column: 1/2; }
  .dashboard__components {
    grid-row: 1/2;
    grid-column: 2/3;
    overflow: hidden;
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: minmax(0, 0.8fr) minmax(0, 0.1fr) minmax(0, 0.1fr) minmax(0, 0.1fr) minmax(0, 0.1fr) minmax(0, 0.1fr);
    gap: 2rem; }
    .dashboard__components .dash-dropdown {
      height: 100%; }
      .dashboard__components .dash-dropdown .Select {
        height: 100%; }
        .dashboard__components .dash-dropdown .Select .Select-control {
          height: 100%; }
    .dashboard__components--type .Select-value {
      display: flex;
      align-items: center; }
    .dashboard__components--add-component-btn__while-none {
      grid-column: 1/-1;
      grid-row: 1/2;
      width: max-content;
      display: block;
      margin: auto; }
    .dashboard__components--fig {
      grid-row: 2/3;
      grid-column: 1/-1; }
  .dashboard__add-component {
    display: grid;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) min-content minmax(0, 1fr);
    padding: 1.5rem;
    gap: 0.5rem; }
    .dashboard__add-component--title {
      font-size: 1.8em;
      grid-row: 1/2;
      place-self: center; }
    .dashboard__add-component--input {
      grid-row: 2/3;
      width: 25rem;
      place-self: center;
      height: 70%; }
    .dashboard__add-component--warning {
      grid-row: 3/4;
      place-self: center;
      font-size: 1.2em;
      color: red; }
    .dashboard__add-component--create-btn {
      grid-row: 4/5;
      grid-column: 1/2;
      width: max-content;
      place-self: end; }
    .dashboard__add-component--cancel-btn {
      grid-row: 4/5;
      grid-column: 1/2;
      width: max-content;
      place-self: start; }
  .dashboard__delete-popup {
    display: grid;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) max-content;
    padding: 1.5rem;
    gap: 0.5rem; }
    .dashboard__delete-popup--title {
      font-size: 1.8em;
      grid-row: 1/2;
      text-align: center; }
    .dashboard__delete-popup--warning {
      grid-row: 2/3;
      font-size: 1.5em;
      color: red;
      text-align: center; }
    .dashboard__delete-popup--delete {
      grid-row: 3/4;
      grid-column: 1/2;
      width: max-content;
      place-self: end; }
    .dashboard__delete-popup--cancel {
      grid-row: 3/4;
      grid-column: 1/2;
      width: max-content;
      place-self: start; }
  .dashboard__load-popup {
    width: 98%;
    margin: 1%; }
    .dashboard__load-popup--filename {
      text-align: center; }
    .dashboard__load-popup--date {
      text-align: center; }
    .dashboard__load-popup .dash-spreadsheet-inner {
      min-height: unset !important;
      min-width: unset !important; }
    .dashboard__load-popup .dash-fixed-content {
      margin: 0 !important;
      padding: 1rem; }
      .dashboard__load-popup .dash-fixed-content .dash-cell, .dashboard__load-popup .dash-fixed-content .dash-header {
        font-size: 1.5rem;
        padding: 5px !important;
        text-align: center !important;
        user-select: none !important; }
    .dashboard__load-popup--btn {
      background-color: #66ccff;
      color: white;
      border: none;
      padding: 10px 30px;
      cursor: pointer;
      font-size: 15px;
      border-radius: 4px;
      float: right; }
      .dashboard__load-popup--btn:hover {
        animation: color-change 1s linear forwards; }

@keyframes color-change {
  0% {
    background-color: #66ccff;
    /* start with the original background color */ }
  100% {
    background-color: #0066ff;
    /* change to a darker blue halfway through the animation */ } }
