.dashboard {
    // take all available space
    height: 100%;
    width: 100%;
    font-size: 1.8rem;
    padding: 2rem;
    // make a grid of 16 by 16
    display: grid;
    grid-template-columns: minmax(0, 0.3fr) minmax(0, 1fr);
    grid-gap: 2rem;
    

    &__components {
        overflow: hidden;
        display: grid;
        grid-template-rows: minmax(0,0.2fr) minmax(0,1fr);
        gap: 3rem;
        &--type {

        }

        &--fig {
            
        }
    }

    &__load-popup{
        width: 98%;
        margin: 1%;

        &--filename {
            text-align: center;
        }

        &--date {
            text-align: center;
        }

        & .dash-spreadsheet-inner {
            min-height: unset !important;
            min-width: unset !important;
        }
        & .dash-fixed-content {
            margin: 0 !important;
            padding: 1rem;

            & .dash-cell, & .dash-header {
                font-size: 1.5rem;
                padding: 5px !important;
                text-align: center !important;
                user-select: none !important;
            }
        }
        &--btn {
            background-color: #66ccff; 
            color: white;
            border: none;
            padding: 10px 30px;
            cursor: pointer;
            font-size: 15px;
            border-radius: 4px;
            float: right;

            &:hover {
                animation: color-change 1s linear forwards;
            }

            @keyframes color-change {
                0% {
                    background-color: #66ccff; /* start with the original background color */
                }
                100% {
                    background-color: #0066ff; /* change to a darker blue halfway through the animation */
                }
            }
        }
    }
}

