.dashboard {
    // take all available space
    height: 100%;
    width: 100%;
    font-size: 1.8rem;
    padding: 2rem;
    // make a grid of 16 by 16
    display: grid;
    grid-template-columns: minmax(0, 0.3fr) minmax(0, 1fr);
    grid-gap: 2rem;
    

    &__components {
        overflow: hidden;
        display: grid;
        grid-template-rows: min-content minmax(0,1fr);
        grid-template-columns: minmax(0,0.9fr) minmax(0,0.1fr) minmax(0,0.1fr) minmax(0,0.1fr) minmax(0,0.1fr);
        gap: 2rem;

        & .dash-dropdown{
            height: 100%;
            & .Select {
                height: 100%;
                & .Select-control {
                    height: 100%;
                }
            }
        }
        &--type {
            & .Select-value {
                display: flex;
                align-items: center;
            }
        }

        &--add-component-btn {
            &__while-none {
                grid-column: 1/-1;
                grid-row: 1/2;
                width: max-content;
                display: block;
                margin: auto;
            }
        }

        &--fig {
            grid-row: 2/3;
            grid-column: 1/-1;
        }
    }

    &__add-component {
        display: grid;
        grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) min-content minmax(0, 1fr);
        padding: 1.5rem;
        gap: 0.5rem;
        &--title {
            font-size: 1.8em;
            grid-row: 1/2;
            place-self: center;
        }

        &--input {
            grid-row: 2/3;
            width: 25rem;
            place-self: center;
            height: 70%;
        }

        &--warning {
            grid-row: 3/4;
            place-self: center;
            font-size: 1.2em;
            color: red;
        }

        &--create-btn {
            grid-row: 4/5;
            grid-column: 1/2;
            width: max-content;
            place-self: end;
        }

        &--cancel-btn {
            grid-row: 4/5;
            grid-column: 1/2;
            width: max-content;
            place-self: start;
        }
    }

    &__delete-popup {
        display: grid;
        grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) max-content;
        padding: 1.5rem;
        gap: 0.5rem;

        &--title {
            font-size: 1.8em;
            grid-row: 1/2;
            text-align: center;
        }

        &--warning {
            grid-row: 2/3;
            font-size: 1.5em;
            color: red;
            text-align: center;
        }

        &--delete {
            grid-row: 3/4;
            grid-column: 1/2;
            width: max-content;
            place-self: end;
        }

        &--cancel {
            grid-row: 3/4;
            grid-column: 1/2;
            width: max-content;
            place-self: start;
        }
    }

    &__load-popup{
        width: 98%;
        margin: 1%;

        &--filename {
            text-align: center;
        }

        &--date {
            text-align: center;
        }

        & .dash-spreadsheet-inner {
            min-height: unset !important;
            min-width: unset !important;
        }
        & .dash-fixed-content {
            margin: 0 !important;
            padding: 1rem;

            & .dash-cell, & .dash-header {
                font-size: 1.5rem;
                padding: 5px !important;
                text-align: center !important;
                user-select: none !important;
            }
        }
        &--btn {
            background-color: #66ccff; 
            color: white;
            border: none;
            padding: 10px 30px;
            cursor: pointer;
            font-size: 15px;
            border-radius: 4px;
            float: right;

            &:hover {
                animation: color-change 1s linear forwards;
            }

            @keyframes color-change {
                0% {
                    background-color: #66ccff; /* start with the original background color */
                }
                100% {
                    background-color: #0066ff; /* change to a darker blue halfway through the animation */
                }
            }
        }
    }
}

